//parametre couleur
$color-primary: #1e1e1e;
$color-secondary: #008037;
$color-tertiary: #D9D9D9;
$color-quaternary: #282828;
$color-quinary: #00d75c;
$font-primary: "hacker", serif;
@font-face {
  font-family: "hacker";
  src: url(../../public/font/hacker.otf);
}
$font-primary: "hacker", serif;
body {
  margin: 0;
  font-family: hacker,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  background-color: $color-primary;
  color: $color-secondary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

div.root{
  position: absolute;
  top: 0;
  left: 0;
}
li {
  list-style: none;
}
a{
  text-decoration: none;
  color: #008037;
}

.nav-active{
  text-decoration: underline;
}
nav{
  text-decoration: none;
}

h1{
  color: #008037;
  font-weight: 700;
  font-size: 50px;
  line-height: 121px;

  text-align: center;

}
