.container-search {
  display: flex;
  flex-direction: column;
  justify-content: center;

  #search-input {
    height: 100%;
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 0.5rem;
    font-size: 1.2rem;
    background-color: $color-quaternary;
    color: $color-secondary;

    &::placeholder {
      color: $color-secondary;
    }
  }

  .container-map-search-result {
    display: flex;

    .container-search-result {
      overflow-x: hidden;
      overflow-y: scroll;
      height: 73vh;
      margin-top: 20px;

      .searchResult {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50vw;
        flex-wrap: wrap;

        > div.card {
          font-family: BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', serif;
          padding: 20px;
          background-color: $color-quaternary;
          margin: 10px;
          border-radius: 10px;

          h2 {
            span.flag {
              svg {
                width: 20px;
              }
            }
          }

          .button {
            background-color: $color-quinary;
            color: $color-primary;
            border: none;
            border-radius: 5px;
            padding: 10px;
            font-weight: 700;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
              background-color: $color-secondary;
            }
          }
        }
      }
    }
  }
  map {
    height: 67vh;
    width: 50vw;
    padding: 20px;
    display: block;
  }

}
